
body {
  font: normal small-caps normal 14px  cursive;
  margin: 3%;
  padding: 5px;
  border-style: inset;
}

main{
  background-color: rgb(171, 200, 243);
  padding: 5px;
  margin: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(98, 238, 231);
 
}

li {
  float: left;
}

li a {
  display: block;
  color:  rgb(44, 39, 39);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(110, 113, 238);
}

h3 {
  margin-left: 3px;
}

button {
  background-color: #4CAF50; 
  border:none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left:33%;
  margin-top: 10px; 
}

#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border: 1px black groove;
    margin: 0 auto;
}

.flex-item {
    width: 30%;
    border: 1px black groove;
    background: rgb(108, 170, 231);
    text-align: center;
}

.aFromJS {
  background-color: #008CBA;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
}
.imgFromJS{
  height:100px;
  width:100px;
}